<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\antenv\Scripts\python.exe"
                  arguments="%home%\site\wwwroot\antenv\Scripts\gunicorn.exe --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --timeout 600 -k uvicorn.workers.UvicornWorker main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="ConfigureForAzure" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> 